@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-text-color: #353535;
    --secondary-text-color: #284B63;

    --main-background-color: white;
    --secondary-background-color: #D9D9D9;

    --accent-background-color: #3C6E71;

    --task-done: #33A069;
    --task-blocked: #DC646A;
    --task-review: #F9BE33;
    --task-progress: #7F77F1;
}

li,
ul,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

body {
    margin: 0;
    padding: 0 5rem;

    font-family: "inter";
    box-sizing: content-box;

    display: flex;
    flex-direction: column;

}






.br-15 {
    border-radius: 15px;
}

.task-done {
    background-color: var(--task-done);
}

.task-blocked {
    background-color: var(--task-blocked);

}

.task-review {
    background-color: var(--task-review);

}

.task-progress {
    background-color: var(--task-progress);

}

.task-status:hover {
    cursor: pointer;
    filter: brightness(1.2);

}

.task-status {
    color: var(--main-background-color);
    border-radius: 5px;
    text-align: center;
    width: 0;
    font-size: 0.75rem;
}

.project-management-nav {
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1.75rem 0rem;
    margin-block: 1rem;

}

.active {
    color: var(--accent-background-color);
    position: relative;
}

.active::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    top: 225%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-background-color);

}

.project-management-dashboard {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--secondary-background-color);
    margin-top: 1rem;
    padding: 1rem;
}



#add-task {
    background-color: var(--accent-background-color);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 0.7rem;
    color: var(--main-background-color);
}



#project-overview.project-overview.visible {

    background-color: #f6f6f6;
    gap: 1rem;
    padding: 1rem;
    /* margin-top: 1rem; */
    display: flex;
}




.chart-container {

    height: 300px;
    width: 300px;
}

.project-info {
    border-radius: 15px;
    color: var(--main-text-color);

}

.project-info h2 {
    color: var(--secondary-text-color);
}

.add-task-form {
    background-color: var(--secondary-background-color);

    border-radius: 15px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-row input,
.form-row select {
    border: none;
    border-radius: 15px;
    padding-block: 0.5rem;
    margin-left: 0.5rem;
}

.form-row label {
    color: var(--main-text-color);
}

form button {
    display: block;
    padding: 0.4rem 2rem;
    border-radius: 15px;
    border: none;
    background-color: var(--accent-background-color);
    color: var(--main-background-color);
}

/* Apply truncation to cells with the 'truncate' class */
td.truncate {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.project-management-dashboard>* {
    display: none;
}

.project-management-dashboard>.visible {
    display: block;
}

.task-table {

    border-collapse: separate;
    border-spacing: 1rem;
    background-color: #f6f6f6;
    border-radius: 15px;
    /* margin-top: 1rem; */
}

.task-table th,
.task-table td {
    padding: 1rem;

    border-bottom: 1px solid #ddd;

    text-align: center;
}

.task-table th {

    color: var(--secondary-text-color);
    /* Set text color for table headers */
    font-weight: bold;
    /* Make table headers bold */
}

.chat-room {
    background-color: #f6f6f6;
    border-radius: 15px;
    /* margin-top: 1rem; */
    width: 70%;
    padding: 1rem;

}

.comment-profile-image {

    font-weight: bold;
    color: var(--secondary-text-color);
}

.comment-card {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
    /* border-bottom: 2px solid var(--secondary-text-color); */
    border-radius: 2rem;
    background-color: #b9dddf;
    padding: 1rem;
    color: var(--main-text-color);
}

#comment_commentText {
    border-radius: 15px;
    width: 75%;
    resize: none;
    border: none;
    margin-bottom: 1rem;
    font-size: inherit;
    font-family: inherit;

}

.delete-task {
    cursor: pointer;
}