{% extends 'base.html.twig' %}

{% block title %}Hello MainpageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   {{app.user.getUserName()}}
   <a href="/logout">Logout</a>
</div>
<div class="team-container">
        {% for member in teams %}
            <div class="team-member">
                <h2>{{ member.getTeamName()}}</h2>

                <p>{{ member.getTeamDescription()}}</p>
                <a href=""><button>view team</button></a>

                <!-- Add other properties as needed -->
            </div>
        {% endfor %}
</div>
<button id="btn" >Join a Team</button>

<div id="drop-form" class="closed">
    
</div>
<script>
    let drop=document.getElementById("btn");
    drop.addEventListener('click',handleClick)
    function handleClick(event){
        let dropForm=document.getElementById("drop-form");
        if(dropForm.className==="closed")
        {
            dropForm.innerHTML=`<form action="{{ path('app_code_input') }}" method="post">
        <input type="text" name="input_field">
        <button type="submit">Submit</button>
    </form>`
    dropForm.className="open"

}
else{
    dropForm.innerHTML=""
    dropForm.className="closed"

}
    }
</script>

{% endblock %}
