{% extends 'base.html.twig'%}

{% block title %}Task added successfully{% endblock %}

{% block body %}
<div>Task added successfully return to the previous page</div>
{% endblock %}

{% block javascripts %}


{% endblock %}
{% block stylesheets %}

{% endblock %}